<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">


<section class="future-page min-h-full flex flex-col justify-between  md:p-6 ">
    
    <!-- Carousel -->
    <div class=" carousel-container w-[45%] h-[24%] mx-auto">
         @if (characters.length > 0) {
                      <app-carousel [carousel]="characters"></app-carousel>
                } @else {
                   <div class="text-center mt-15 text-lg italic text-shadows-md font-small text-black">Loading...</div>
                } 
       
    </div>

    <!-- Events Cards Container -->
     <div class="eventsList-container  w-full  m-t-6">
        @for(card of newsCard; track $index){
         <div class="evento-card border border-solid border-gray-400 w-[60%] h-fit m-auto mt-4 p-4 rounded-md">
            <div class="event-title w-fit flex justify-evenly align-middle ">
             <h3 class="font-bold text-2xl p-1 "> {{card.titolo_evento}}</h3>
             <h4 class="h-fit text-sm ml-4  p-1 rounded-md border border-solid border-[#d4af37] bg-[#d4af37] text-white align-middle">{{card.tipologia}}</h4>
            </div>
             <div class=" w-[40%] mt-1 text-gray-600  p-1 flex justify-between  align-middle ">    
                 <p class="locality">{{card.localita}}</p> 
                 <p class="data">{{card.data}}</p>
                 <p class="dataEvent   pl-1 pr-1 mr-2 font-black">{{card.orario_evento}}</p>
            </div>
            <p class=" mt-2 text-small">{{card.descrizione_evento}}</p>
          </div>
        }  
     </div>

      <div class="paginationNav-container m-auto mt-4 max-w-[80%]">
      <app-paginator [currentPage]="currentPage" [totalNews]="totalNews"  [newsPerPage]="limit"  (changePage)="onChangePage($event)"></app-paginator>   
      
      </div> 
     

    <router-outlet></router-outlet>  
</section>
