<div class="flex items-center justify-between border-t border-gray-200  px-4 py-3 sm:px-6">
 
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <nav aria-label="Pagination" class="isolate inline-flex -space-x-px rounded-md shadow-xs">
        <a  class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-900 inset-ring inset-ring-gray-300 hover:cursor-pointer hover:bg-amber-600 hover:text-white focus:z-20 focus:outline-offset-0" > Previous </a>
        <!-- @for(page of pages; track $index){
             <a href="javascript:void(0)" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 inset-ring inset-ring-gray-300 hover:bg-amber-600 hover:text-white focus:z-20 focus:outline-offset-0"
              (click)="changePageClick(page)"
             
             >{{page}}</a>
        } -->
             @for(page of pages; track $index){
              <a href="javascript:void(0)" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 inset-ring inset-ring-gray-300 hover:bg-amber-600 hover:text-white focus:z-20 focus:outline-offset-0">
                {{page}}
              </a>
             }
       
        <!-- <button [disabled]="currentPage >= totalNews " class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-900 inset-ring inset-ring-gray-300 hover:cursor-pointer hover:bg-amber-600 hover:text-white focus:z-20 focus:outline-offset-0" (click)="next()" >
          Next
         
        </button> -->
        <button  class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-900 inset-ring inset-ring-gray-300 hover:cursor-pointer hover:bg-amber-600 hover:text-white focus:z-20 focus:outline-offset-0"  >
          Next
         
        </button>
      </nav>
    </div>
  </div>
</div>
