<div class="flex items-center justify-between border-t border-gray-200  px-4 py-3 sm:px-6">
  <div class="flex flex-1 justify-between sm:hidden">
    <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
    <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <nav aria-label="Pagination" class="isolate inline-flex -space-x-px rounded-md shadow-xs">
        <a href="#" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-900 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
         Previous
        </a>
        @for(page of pages; track $index){
             <a href="javascript:void(0)" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              (click)="changePageClick(page)"
             >{{page}}</a>
        }
       
        <a href="#" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-900 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
          Next
         
        </a>
      </nav>
    </div>
  </div>
</div>
