<div class="flex items-center justify-between m:flex m:flex-1  mt-6  px-2 py-3  ">
 
  <div class="  sm:flex sm:items-center sm:justify-between ">
    <div>
      <nav aria-label="Pagination" class="   isolate inline-flex -space-x-px rounded-md shadow-xs">
        <button  class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-900 inset-ring inset-ring-gray-300 hover:cursor-pointer hover:bg-amber-600 hover:text-white focus:z-20 focus:outline-offset-0 disabled:text-gray-600 disabled:cursor-not-allowed disabled:hover:bg-gray-50"
           [disabled]="currentPage == 1 "
            (click)="prev()"> 
            Previous
         </button>
             @for(page of visibleBtn; track $index){
              <a href="javascript:void(0)" class="relative  inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 inset-ring inset-ring-gray-300 hover:bg-amber-600 hover:text-white focus:z-20 focus:outline-offset-0 focus:bg-amber-600 focus:text-white"
              (click)="changePageClick(page)"
              [ngClass]="{
                'bg-amber-600 text-white': currentPage === page,  
                ' background-color:rgba(245, 245, 245, 1) text-gray-900' : currentPage !== page, 
              }">
                {{page}}
              </a>
             }

        <button  class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-900 inset-ring inset-ring-gray-300 hover:cursor-pointer hover:bg-amber-600 hover:text-white focus:z-20 focus:outline-offset-0 disabled:text-gray-600 disabled:cursor-not-allowed disabled:hover:bg-gray-50"
          [disabled]="currentPage == pages.length "
          (click)="next()">
          Next   
        </button>
      </nav>

    </div>
  </div>
</div>