 /* MODIFICARE LE GRANDEZZE A SECONDA DELLE DIMENSIONI DELLO SCHERMO  */


.register-page{
    /* border:2px solid blue; */
    
    width:100%;
    height: 100%
}

.register-container{
    /* border:1px solid red; */
    width:80%;
    height: 80%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.register-form-container{
    /* border: 2px solid green; */
    width:50%;
    height:100%;
    position:relative;
    display:flex;
    justify-content:flex-end;
}
.register-formGroup{
    /* border: 1px solid black; */
    width: 60%; 
    /* da sistemare forse in base alle dimensioni dello desktop */
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}
.logo-container{
    /* border:1px solid red; */
    width: 30%;
    height:fit-content;
    z-index: 5;
    position:absolute;
    left:80%
}
.form-title{
    /* border:1px solid blue; */
    width: 100%;
    margin: auto;
    font-size: 30px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
}
.register-form{
    /* border:1px solid purple;   */
   margin-top: 25px;
}


.register-form label {
    margin-top: 20px;
    font-size: 15px
}

.register-form p {
    /* border:1px solid green; */
   text-align: center;
   margin-top: 15px;
}
.register-form input{
    margin-top: 5px;
    padding-left: 10px;
}
.register-form .register-btn {
     margin-top: 30px;
    font-size: 15px

}

.register-form .login-btn {
    margin-top: 20px;
    font-size: 15px;

}

.register-form .register-btn:hover,
.register-form .login-btn:hover{
  cursor:pointer;
}

.register-image-container{
    /* border:1px solid brown; */
    width:50%;
}
.image-rectangle{
    /* border:1px solid purple; */
    height:100% 
}
.image-rectangle img {
    height:100%;
    position:relative;
}
.image-text{
    /* border:1px solid orange; */
    width:90%;
     bottom:5%;
    left:5%;
    font-size:28px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;

}