<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alice&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.x/dist/tailwind.min.css" rel="stylesheet">



<section class="register-page">
    <div class="register-container inline-flex" >
        <div class="register-form-container">
            <div class="logo-container">
                <img src="/assets/images/logo-blackGold.png" alt="">
            </div>
            <div class="register-formGroup">
                <p class="form-title">Create your account</p>
                <div class="register-form">
                    <!-- START FORM -->
                     <div class="flex w-full  justify-center mt-10">
                    <form action="#" class=" w-full space-y-4">
                        <!--  FULL NAME INPUTS -->
                          <div class="inline-flex">
                            <div class="first-name">
                                <label for="text" class="block  text-sm/6">First Name</label>
                            <input type="text" name="firstName" class=" block  h-9 rounded-md px-3 py-3  bg-white outline-1 -outlone-offset-1 outline-gray-300 text-base focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500" >
                            </div>
                            <div class="last-name">
                                <label for="text" class="block  text-sm/6">Last Name</label>
                            <input type="text" name="lastName" class=" block  h-9 rounded-md px-3 py-3  bg-white outline-1 -outlone-offset-1 outline-gray-300 text-base focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500" >
                            </div>
                          </div>
                       <!-- EMAIL INPUT -->
                        <div >
                          <label for="email" class="block  text-sm/6">Email*</label>
                         <input type="email" name="email"   class=" block w-full h-9 rounded-md px-3 py-3  bg-white outline-1 -outlone-offset-1 outline-gray-300 text-base focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500" >
                       </div>
                       <!-- PASSWORD INPUT -->
                         <div >
                          <label for="password" class="block  text-sm/6">Password*</label>
                         <input type="password" name="password" class="block w-full h-9 rounded-md px-3 py-3   bg-white outline-1 -outlone-offset-1 outline-gray-300 text-base focus:outline-2 focus:-outline-offset-2 focus:outline-orange-500" >
                       </div>
                       <!-- BUTTONS -->
                        <div class="space-y-3">
                          <button type="submit" class="w-full h-9 justify-center rounded-md  px-3 py-4  bg-orange-500  text-white hover:bg-orange-400 text-sm/6 login-btn"  >Login</button>
            
                       
                          <p class="text-gray-500 text-center">Oppure</p>
                       
                          <button type="submit" class="w-full h-9 justify-center rounded-md px-3 py-4  bg-white  text-black outline-1 -outlone-offset-1 outline-gray-300  hover:bg-gray-100 text-sm/6 register-btn">Register</button>
                        </div>

                    </form>
                   </div>
                     <!-- END FORM -->
                </div>
            </div>
        </div>
         
        <div class="register-image-container border-1 border-solid border-amber-700">
            <div class="image-rectangle">IMAGE CONTAINER</div>
        </div>
    </div>
</section>