

.dashboard-page{
    background-color:rgba(245, 245, 245, 1);
}
  .sidebar-container{
    width:fit-content;
    height:100%;
}  


.content-page {
  background-color:#f5f5f5;
}
.navbar {
    height:8%;
}

