

.search-bar {
    /* da sistemare per renderlo responsive */
    width:20%;
    height:43%;
    margin-left:20%;
}
.search-input{
    width:85%;
    padding-left:2%;
}
.search-btn{
    width:13%;
    margin-left: 2px;
}
.search-icon {
    margin:auto;
}


.search-btn:hover,
.search-icon:hover,
.favorite-icon:hover,
.new-btn:hover,
.userIcon-btn:hover{
    cursor:pointer;
}
