<!-- DA FINIRE -->
<div class="navbar w-full">
        <div class="search-bar-container w-fit flex">
            <img class="search-icon" src="/assets/images/search-icon.svg" alt="">
            <input class="search-input border-1 border-solid border-gray-400 rounded-md" type="search" placeholder="Search">
        </div>
        <div class="threeBtn-container w-80 flex justify-evenly items-center h-full ">
            <!-- da sistemare stilisticamente -->
            <button class="new-btn w-22 items-center text-xl border-1 border-solid border-amber-600 bg-amber-600 rounded-2xl flex text-white">
                <img class=" w-8 mr-0.5" src="assets/images/add-icon.svg" alt=""> 
                   <span>New</span>
                </button>

            <span class="favorite-icon">
               <img class="h-8" src="assets/images/favorite-icon.svg" alt="">
            </span>
            <span class="user-img w-fit h-fit">
                <!-- fare in modo che la img venga inserita in modo dinamico -->
               <a href="utents"> <img src="assets/images/Aristotele.jpg" alt="" class="size-14 rounded-full ring-1 ring-gray-600 outline -outline-offset-1 outline-white/10" /> </a>
            </span>
        </div>
    </div>