<section class="post-page min-h-screen    md:p-2 border border-black/5 roundend-md">

    <div class="postList-container w-full   flex align-middle justify-evenly flex-wrap ">
        @for(post of posts$ | async; track $index){
           <div class="bg-neutral-primary-soft block w-[40%]  sm:w-[45%] md:w-[40%] lg:w-[40%] p-4 m-2 border border-black/5 rounded-md shadow-xs">
            <p>{{post.user_id}}</p>
               <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">{{post.title}}</h5>
               <p class="text-body mb-6">{{post.body}}</p>
                <p class="text-body mb-6">Commento:
                   @for(comment of post.comment; track comment.id){
                        <h5>Titolo commento: {{comment.name}}</h5>
                        <p>{{comment.body}}</p>

                    } 
                </p>

                <button href="" class="font-medium text-fg-brand hover:text-white border border-black/5 hover:bg-red-600  hover:border-red-600 hover:cursor-pointer p-2 rounded-md" (click)="deletePost(post.id)">Delete</button>
           </div>
        }
       
          

    </div>
    <div class="paginator-container m-auto w-fit mt-2 ">
               <app-paginator [currentPage]="currentPage" [newsPerPage]="limit" [totalNews]="totalPost" (changePage)="changePage($event)"></app-paginator>
    </div>

   
   
</section>