<!-- <div  class="homePage-container w-full  h-screen flex-1 overflow-y-auto">
    
 <div class="homePage-mainContent w-full h-full  border-1 border-solid border-b-black">
    
     <div class="carousel relative flex items-center w-[50%] h-[25%]">
        <div class="carousel-imageBackground absolute inset-0  opacity-30">
                <img class=" h-full w-full object-cover object-[25%_45%]" src="assets/images/AldaMerini.jpg" alt="">
        </div>
        <div class="main-image w-fit  relative h-[90%]   z-10 ">
            <img class="max-h-full w-auto object-contain" src="assets/images/AldaMerini.jpg" alt="">
        </div>
     </div>

    
 </div>
    
</div> -->


