<div  class="homePage-container w-full  h-screen">
 <app-navbar ></app-navbar>
    
 <div class="homePage-mainContent w-full h-full  border-1 border-solid border-b-black">
     <mat-card class="carousel  flex justify-center" appearance="outlined">
        <img mat-card-image  class="carousel-image  w-50 h-full z-50" src="assets/images/AldaMerini.jpg" alt="">
        <!-- <h3 class=" w-fit text-black z-50">“L’ intelligenza senza la sensibilità non serve a niente”</h3> -->
         <mat-card-title class="text-black">“L’ intelligenza senza la sensibilità non serve a niente”</mat-card-title>
     
     </mat-card>

    
 </div>
    
</div>


