.homePage-container{
    /* background-color:#f5f5f5; */
    border:1px solid red;
}

.homePage-mainContent{
    /* height: calc(100% - 8%); */
}
.carousel{
    /* border:1px solid blue; */
    width:50%;
    height: 210px;
    margin-top:10px;
    margin-left: 5%;   
     background-image: url('/assets/images/AldaMerini.jpg') ;
    background-size: cover;
    background-repeat:no-repeat;
   background-position: 25% 45%; 
   position:relative;
}
.carousel::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.2); 
 
}


.carousel-image {
    border:1px solid blue;
    margin-left:10%;
    vertical-align:center;
    background-color: rgba(0, 0, 0, 0.8); 
}
.carousel h3 {
    border:1px solid red;
}
