


.dinamic-carousel{
     /* margin-top:10px;
    margin-left: 2px; */
}
.calendar-container{
    /* margin-right:2px */
}
.selected{
    background-color: #e66a0c;
    border-color:#e66a0c;
    color:white;
}

.tabsBtn{
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}