<section class="settings-page min-h-screen flex flex-col justify-between  p-4 md:p-6 border border-red-500">

<div class="relative h-screen  bg-neutral-primary-soft shadow-xs rounded-sm border border-black/5  flex   ">
    <table class="w-[15%] h-fit mt-4 mx-2 text-sm  rounded-md  rtl:text-right  sticky top-0 border border-green-800">
        <tbody  >
             <tr >
                <th class="w-full p-2  border border-black/5 hover:cursor-pointer hover:text-amber-600" (click)="panel('profilo')">Profilo utente</th>
            </tr >
             <tr  >
                <th class=" w-full p-2  border border-black/5 hover:cursor-pointer hover:text-amber-600" (click)="panel('postsPage')">Post</th>
            </tr> 
         
        </tbody>
    
    </table>
   
    <div class=" w-full overflow-y-auto " >
        @if(isPanelOpen() === 'profilo'){
            <div class="w-full  ">
              <app-single-utent-page ></app-single-utent-page>


            </div>
        }
        @else if(isPanelOpen() === 'postsPage'){
              <div class="w-full ">
              <app-posts-page></app-posts-page>


            </div>

        }
        <div class="w-full ">
        </div>
    </div>
</div>

</section>
