<section class="settings-page min-h-screen flex flex-col justify-between  p-4 md:p-6 border border-red-500">

<div class="relative h-screen  bg-neutral-primary-soft shadow-xs rounded-sm border border-black/5  flex   ">
    <table class="w-[15%] h-fit p-2   text-sm text-center flex    rtl:text-right text-body sticky top-0 border border-green-800">
        <tbody class=" ">
            <tr  class="w-full ">
                <th class="  p-2   border border-black/5 hover:cursor-pointer hover:text-red-600" (click)="panel('profilo')">Profilo utente</th>
            </tr>
            <br>
             <tr class="w-full">
                <th class="p-2 bg-red-500 w-full border border-black/5  hover:cursor-pointer hover:text-blue-600" (click)="panel('postsPage')">Post</th>
            </tr>

        </tbody>
        <!-- <button class="p-2 mb-2  border border-black/5 hover:cursor-pointer hover:text-red-600" (click)="panel('profilo')">Profilo utente</button>
        <button class="p-2  border border-black/5  hover:cursor-pointer hover:text-blue-600" (click)="panel('postsPage')">Post</button> -->
    </table>
    <div class=" w-full overflow-y-auto " >
        @if(isPanelOpen() === 'profilo'){
            <div class="w-full  ">
              <app-single-utent-page></app-single-utent-page>


            </div>
        }
        @else if(isPanelOpen() === 'postsPage'){
              <div class="w-full ">
              <app-posts-page></app-posts-page>


            </div>

        }
        <div class="w-full ">
            <!-- <p>Puzzi</p> -->
        </div>
    </div>
</div>


</section>
