<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">




<section class="login " >
    <div class="login-container">
      <div class="login-image-container">
          <div class="image-rectangle">
            <img src="assets/images/marcoaurelio.png" alt="">
            <p class="login-image-text">	“La felicità della tua vita dipende dalla qualità dei tuoi pensieri...
              abbi cura di non coltivare nozioni inadatte alla virtù e di natura ragionevole.” </p>
          </div>
      </div>
      <div class="login-form-container">
        <div class="logo">
          <img src="assets/images/logo-blackGold.png" alt="">
        </div>
        <div class="form-title">Welcome</div>
        <div class="login-form-container">
          
          <!-- INIZIO FORM -->
          
            <div class="flex min-h-full flex-col justify-center ">     <!-- DA SISTEMARE E DEFINIRE-->
              
               <div class="mt-10 sm:mx-auto sm:w-full sm_max-w-sm">

                <form action="#" class="space-y-6">
                  <!-- NAME INPUT -->
                  <div>
                    <label for="" class="block text-sm/6 font-small text-black-100">Name</label>
                    <div class="mt-2">
                      <input type="text" name="name"class="block w-full rounded-md bg-black/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                    </div>
                  </div>
                  <!-- EMAIL INPUT -->
                   <div>
                    <label for="" class="block text-sm/6 font-small text-black-100">Name</label>
                    <div class="mt-2">
                      <input type="text" name="name"class="block w-full rounded-md bg-black/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                    </div>
                  </div>
                  <!-- PASSWORD INPUT -->
                   <div>
                    <label for="" class="block text-sm/6 font-small text-black-100">Name</label>
                    <div class="mt-2">
                      <input type="text" name="name"class="block w-full rounded-md bg-black/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                    </div>
                  </div>
                  <!-- BUTTON FORM -->
                   <div>
                      <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sign in</button>
                   </div>
                </form>
 
              </div>
            </div>


        </div>
      </div>
    </div>
</section>