.login{
    border: 1px solid red;
    width: 100%;
    
}

.login-container{
    border: 2px solid blue;
    width: 80%;
    height: 80%;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   display: flex;
}
.login-image-container{
    border:1px solid purple;
    width: 50%;

}
.login-image-container .image-rectangle {
    /* border: 1px solid red; */
    width: fit-content;
    height:100%;
   margin: auto;
   position: relative;
}

.login-image-container .image-rectangle img{
    height: 100%;
}
.login-image-text{
    /* border: 1px solid orange; */
    width:85%;
    z-index: 3;
    position: absolute;
    bottom:5%;
    left:5%;
    color:white;
    font-size:25px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: italic;
}
.login-form-container{
    width: 50%;
}

.login-form-container .logo {
    /* border: 1px solid green; */
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}
