
 /* MODIFICARE LE GRANDEZZE A SECONDA DELLE DIMENSIONI DELLO SCHERMO  */



.login-page{
    /* border: 1px solid red; */
     width: 100%;
    
    
}

.login-container{
    /* border: 1px solid blue; */
    width: 80%;
    height: 80%;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   display: flex;
}
.login-image-container{
    /* border:2px solid purple; */
    width: 50%;

}
.login-image-container .image-rectangle {
    /* border: 1px solid red; */
    width: fit-content;
    height:100%;
    /* margin:auto; */
   margin-left: 10%;
   position: relative;
}

.login-image-container .image-rectangle img{
    height: 100%;
}
.login-image-text{
    /* border: 1px solid orange; */
    width:90%;
    bottom:5%;
    left:5%;
    font-size:28px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}
.login-form-container{
    /* border:1px solid orange; */
    width: 50%;
    position: relative;
}

.logo-container{
     /* border: 1px solid red;  */
    width: 30%;
    height:fit-content;
    z-index: 5;
    position:absolute;
    right:80%
   
}
.formGroup-container{
    /* border: 1px solid blue; */
    width: 55%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.form-title{
    /* border: 1px solid green; */
    width: fit-content;
    margin: auto;
    font-size: 40px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
}
.login-form{
    /* border: 1px solid brown; */
    height: 80%;
   margin-top: 25px;
}
.login-form label {
    margin-top: 30px;
    font-size: 15px
}

.login-form p {
    /* border:1px solid green; */
   text-align: center;
   margin-top: 15px;
}
.login-form input{
    margin-top: 5px;
    padding-left: 10px;
}
.login-form .login-btn {
     margin-top: 30px;
    font-size: 15px

}

.login-form .register-btn {
    margin-top: 20px;
    font-size: 15px;

}

.login-form .login-btn:hover, 
.login-form .register-btn:hover {
    cursor:pointer
}

