<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">


<section class="history-page min-h-screen flex flex-col justify-between p-4 md:p-6 " >
    
    <!-- Carousel -->
    <div class=" carousel-container w-[45%] h-[24%] mx-auto  ">
                  @if (characters.length > 0) {
                      <app-carousel [carousel]="characters"></app-carousel>
                } @else {
                   <div class="text-center mt-20 text-lg italic text-shadows-md font-small text-black">Loading...</div>
                } 
    </div>

    <!-- Cities Cards Container -->
     <div class="cultureItems-conatiner w-[80%] m-auto p-4 border border-solid border-red-600 relative">
  <!-- CREARE UNA FINESTRA NUOVA PER I DATI APPROFONDITI -->
        @for(card of  itemsCard; track $index){
            <div class="card m-4 border border-solid border-blue-600">   
                <div>
                  <h3>Titlo: {{card.denominazione}}</h3>
                  <!-- Capire se tenere o meno la tipologia -->
                  <h4>Caterogia: {{card.categoria}}, Tipologia: {{card.tipologia}}</h4>
                </div>
               <div>
                 <p>Autore: {{card.autore}}</p>
                  <p>Epoca: {{card.epoca}}</p>
                  <p>Comune:{{card.comune}}({{card.siglaprovincia}})</p>
                 
                  <p>Abstract:{{card.abstract}}</p>
                  <button (click)="newWindow($index)" class="border border-red-700 bg-red-700 text-white">More details..</button>

                  <!-- DATI APPROFONDITI -->
                   @if(isOpen){ 
                    <!-- modificare lo stile e la posizione -->
                     <div class="dati-finestraApprodondimento border-2 border-green-600 bg-gray-600 text-red-600 absolute m-auto top-0 left-0 z-200">
                       <h3 class="text-white">Titolo details: {{el.denominazione}}</h3>
                        <p>Autore: {{el.autore}}</p>
                      <p>Epoca: {{el.epoca}}</p>
                      <p>Indirizzo:{{el.indirizzo}}-</p> <p>Comune:{{el.comune}}({{el.siglaprovincia}})</p>
                      <p class=" text-white">Descrizione:{{el.descrizione}}</p>     
                      <p>Notizie storiche:{{el.notiziestoriche}}</p>
                      <button (click)="chiudi()" class="border border-white bg-white text-black">Chiudi</button>
                   </div>

                   }
                  
                 
               </div>
            </div>
        }

     </div>
     <app-paginator ></app-paginator>
    <router-outlet></router-outlet>     
</section>