<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">


<section class="history-page min-h-screen flex flex-col justify-between p-4 md:p-6">
    
    <!-- Carousel -->
    <div class="carousel flex flex-col md:flex-row items-center rounded-lg gap-5 md:gap-5 overflow-hidden p-3 md:p-4 mb-6">
        <img 
            src="assets/images/LeonardoDaVinci2.jpg" 
            alt="Leonardo Da Vinci" 
            class="carousel-image w-32 h-40 md:w-38 md:h-43 lg:w-40 lg:h-40 rounded-lg flex-shrink-0  z-50">

        <div class="carousel-text-container text-black w-full md:w-auto z-50">
            <h3 class="carousel-citazione mt-2 text-lg md:text-2xl lg:text-3xl text-balance text-center md:text-left italic px-2 ">
                "Il saper vedere è il vero motore del mondo"
            </h3>

            <div class="carousel-textSecondary flex flex-col mt-2 text-center md:text-left px-2">
                <h4 class="carousel-nameCharacter text-sm md:text-base font-medium">
                    Leonardo Da Vinci (1452 - 1519)
                </h4>
                <p class="carousel-professionText text-xs md:text-sm text-gray-600 z-50">
                    Scienziato, inventore artista italiano
                </p>
            </div>
        </div>
    </div> 

    <!-- Cities Cards Container -->
    <div class="citiesCards-container w-full md:w-[95%] lg:w-[80%] xl:w-[80%] m-auto gap-4 flex flex-wrap justify-center px-2 py-2">
        @for(item of cityCard; track $index){
            <div class="city-card w-full sm:w-[calc(50%-1rem)] md:w-42 lg:w-42 xl:w-42 h-40 md:h-40 lg:h-40 m-2 md:m-4 relative rounded-lg overflow-hidden cursor-pointer hover:scale-105 transition-transform border border-solid border-yellow-600"> 
                <a [routerLink]="item.link" class="h-full w-full block relative">
                    <img 
                        src="{{item.img}}" 
                        alt="{{item.label}}" 
                        class="object-cover h-full w-full">
                    <div class="absolute inset-0 bg-black opacity-15"></div>
                    <span class="city-name absolute ml-3 md:ml-4 z-50 inset-0 flex items-end mb-2 font-semibold text-white text-xl md:text-2xl">
                        {{item.label}}
                    </span>
                </a>
            </div>
        }
    </div>

    <router-outlet></router-outlet>     
</section>