<section class="singleUtent-page min-h-screen p-4 md:p-6">
  <div class="utent-details w-full p-4">
    <h1 ><strong>Nome: </strong>{{ userDetails?.name }}</h1>
    <p><strong>Email: </strong> {{ userDetails?.email }}</p>
    <p><strong>Genere: </strong>{{ userDetails?.gender }}</p>
    <p><strong>Status: </strong> {{ userDetails?.status }}</p>

    <div class="posts-container mt-6">
        <h3 class="font-semibold mb-2">Lista posts dell'utente: </h3>
      @for(post of posts; track post.id){
        <div class="post mb-4 p-4 border border-black/10 rounded-md">
          <h2>{{ post.title }}</h2>
          <p>{{ post.body }}</p>

          <div class="comments mt-2 pl-4">
            @for(comment of post.comment; track comment.id){
              <div class="comment border-l-2 border-amber-500 pl-2 mb-2">
                <p class="font-bold">{{ comment.name }}</p>
                <p>{{ comment.body }}</p>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</section>