<!-- CREATA PER CREARE LA PARTE ESTETICA DELLA SIDEBAR
 PARTE LOGICA NEL OMONIMO SERVIZIO -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />



 <div class="sidebar-container  rounded-r-xl  flex-shrink-0" [class.collapsed]="!isOpen()" >
         <button class="menu-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" (click)="toggle()">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
             </svg>
        </button>  
     
        <div class="sidebar-content rounded-r-xl">
            <div class="logo-container">
                <img [src]="currentLogo" alt="logo" class="logo-img">
            </div>
               <div class="sections-container">
                    @for(item of items; track $index){
                        <li class="md:shrink">
                          <a [routerLink]="item.link" routerLinkActive="active">
                             <img [src]="item.icon" alt="" class="item-icon">
                             @if(isOpen()){
                               <span >{{item.label}}</span>
                               }
                          </a> 
                        </li> 
                    }
            </div>
            
            <div class="setting-log-container">
                    <div class="setting-container" >
                        @for(item of setting; track setting){
                           <a [routerLink]="item.link" routerLinkActive="active">
                              <img [src]="item.icon" alt="">
                             @if(isOpen()){                        
                              <span >{{item.label}}</span>
                             }
                          </a>
                        }
                    </div>
                 <div class="logout-container">
                     @for(item of logout; track logout){
                         <a [routerLink]="item.link" routerLinkActive="active">
                           <img [src]="item.icon" alt="">
                         @if(isOpen()){                        
                            <span class="text-red-600" >{{item.label}}</span>
                         }
                        </a>
                    }
                </div>
            </div>
         
        </div>
 </div> 





















  