


<div class="post-container w-full mt-2 border border-red-600">
    <div class="header">
        <h2>User Name</h2>
    </div>
    <img src="" alt="Foto del post">
    <div class="post-description border border-amber-600">
        <p>Post's description</p>
        <textarea name="" id="post-description"></textarea>
    </div>
    <div class="postBtn-container border border-blue-700">
        <button class="border border-green-600" (click)="cleanForm()">Cancel</button>
        <button class="border border-orange-600" (click)="addNewPostClick()">Share</button>
    </div>
</div>

